head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title!= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    -var canonicalURL = site.url + canonical;
    link(rel='canonical', href=canonicalURL)
    -var description = description || excerpt || site.description;
    meta(name='description', content=strip(description))
    link(rel='stylesheet', type='text/css', href='/styles/app.min.css')
    include ./favicons
    //- |   {% include './layout/og-images.swig' %}
    //- |   {% include './layout/json-schema.swig' %}
    script.
        // fast pre-rendering check for javascript capability without requiring Modernizr in the head
        var h = document.documentElement
        h.className = h.className.replace('no-js','js');
        // hide text while webfonts load, but unhide after three seconds if they haven't loaded yet
        h.className += " wf-loading";
        window.wfInactive = false;
        window.wfl = setTimeout(function(){
            window.wfInactive = true;
            h.className=h.className.replace('wf-loading','wf-inactive');
        },3000)
        // defer execution of jquery-dependent scripts defined before jQuery loads
        window.q=[];window.$=function(f){q.push(f)}
        // enqueue scripts at the end of the page from before the closing body tag
        window.d=[];window.loadScript=function(path){d.push(path)}
    block head

    - var collectionSlug = collections[collection] && collections[collection].metadata && collections[collection].metadata.singular ? collections[collection]['metadata']['singular'] : "";