.navbar-header-brand
		.row
			.col-xs-2
				.navbar-header-brand-logo-wrapper
					a(href="/" title="Go to the home page")
						img.navbar-header-brand-logo(src='/images/logos/ea-logo-lightbulb.svg' alt="Effective Altruism lightbulb logo")
			.col-xs-10
					.row
						.col-xs-12
							.navbar-header-brand-logo-text-wrapper
								a(href="/" title="Go to the home page")
									img.navbar-header-brand-logo-text(src='/images/logos/ea-logo-text.svg' alt="Effective Altruism")
					.row
						.col-xs-12
							p.navbar-header-brand-description!= site.description

