.navbar-header-brand
	.navbar-header-brand-logo-wrapper
		a(href="/" title="Go to the home page")
			i.icon.icon-ea-lightbulb.navbar-header-brand-logo
	.navbar-header-brand-logo-text-wrapper
		a(href="/" title="Go to the home page")
			img.navbar-header-brand-logo-text(src='/images/logos/ea-logo-text.svg' alt="Effective Altruism")

