extends ./page

block header

block content
	.home-content
		.row
			.col-md-8.col-md-offset-2.center
				section.home-section
					h1#page-title.page-title-home What kind of impact do you want to have on the world?
					!= contents
					a.btn.btn-primary(href="/ideas/introduction-to-effective-altruism") Continue reading
		.row
			.col-md-3
				aside.home-aside
					h3.home-aside-heading Featured Ideas
					p
						a Read More
			.col-md-9
				section.home-section
					.row
						article.col-md-3.featured-idea-article
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.featured-idea-article-title Counter-factual reasoning
								p Author Name
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.featured-idea-article-title Thinking on the margin
								p Author Name
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.featured-idea-article-title Epistemic humility
								p Author Name
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.featured-idea-article-title Helping more rather than helping less
								p Author Name
		.row
			.col-md-3
				aside.home-aside
					h3.home-aside-heading Featured EAs
					p
						a Read More
			.col-md-9
				section.home-section
					.row
						article.col-xs-6.col-md-2.home-featured-ea-article
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.home-featured-ea-article-title
									| Peter Singer
						article.col-xs-6.col-md-2.home-featured-ea-article
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.home-featured-ea-article-title
									| Eva Vivalt
						article.col-xs-6.col-md-2.home-featured-ea-article
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.home-featured-ea-article-title
									| Alison Woodman
						article.col-xs-6.col-md-2.home-featured-ea-article
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.home-featured-ea-article-title
									| Eva Vivalt
						article.col-xs-6.col-md-2.home-featured-ea-article
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.home-featured-ea-article-title
									| Jann Tallinn
						article.col-xs-6.col-md-2.home-featured-ea-article
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3.home-featured-ea-article-title
									| Nick Bostrom