extends ./page

block header

block content
	.home-content
		.row
			.col-md-3
				aside.home-aside.visible-md.visible-lg
					h3.home-aside-heading What is EA?
					p
						a(href='articles/introduction-to-effective-altruism') Read More
			.col-md-9
				section.home-section
					h1#page-title.page-title-home What kind of impact do you want to have on the world?
					!= contents
					a(href="articles/introduction-to-effective-altruism") Continue reading
		.row
			.col-md-3
				aside.home-aside
					h3.home-aside-heading Featured EAs
					p
						a Read More
			.col-md-9
				section.home-section
					.row
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								| Peter Singer
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								| Eva Vivalt
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								| Jann Tallinn
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								| Nick Bostrom
		.row
			.col-md-3
				aside.home-aside
					h3.home-aside-heading Featured Ideas
					p
						a Read More
			.col-md-9
				section.home-section
					.row
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3 Counterfactual reasoning
								p Author Name
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3 Thinking on the margin
								p Author Name
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3 Epistemic humility
								p Author Name
						article.col-md-3
							a(href="#") 
								img.img-responsive(src="https://placehold.it/350x350")
								h3 Helping more rather than helping less
								p Author Name