extends ./layout

block header
	.row
		.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
			include ./layout/header
block content
	.row
		.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
			!= contents
			block postContents