// FONT FACES
$font-family-serif: Merriweather, Georgia, Garamond, 'Times New Roman', serif;
$font-family-sans-serif: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
// COLOURS

$site-primary: #3092cf;
$site-secondary: #FFA32F;
$site-muted: #f6f3ec;


$site-first: $site-primary;
$site-second: $site-secondary;


// $site-highlight: #6c0000;
// $site-lolight: #6c0000;

// coefficients


// site colours
$site-light: #53A5DA;
$site-highlight: $site-light;
$site-lighter: #7EBDE6;
$site-dark: #0C7CC4;
$site-lolight: $site-dark;
$site-darker: #065C94;

$site-secondary-light: #FFB557;
$site-secondary-highlight: $site-secondary-light;
$site-secondary-lighter: #FFC985;
$site-secondary-dark: #FF8E00;
$site-secondary-lolight: $site-secondary-dark;
$site-secondary-darker: #E78100;


$cea: #2c5aa9;
$gwwc: #6C0000;
$eightythousandhours: #3FBDD1;
$gpp: #7E95CC;
$tlycs: #ED1A24;
$ace: #349895;

$grid-gutter-width: 30px;
$content-padding: $grid-gutter-width * 2;

