- var text = showText === false ? false : true;
.newsletter-signup-small
	if text
		.newsletter-signup-small-call-to-action-wrapper
			p.newsletter-signup-small-call-to-action For news and opportunities:
	.newsletter-signup-small-form-wrapper
		form.form.newsletter-signup-small-form
			.input-group
				input.form-control(placeholder='Email address')
				span.input-group-btn
					button.btn.btn-primary Subscribe