if file
	article.series-article
		h4.series-article-title
			a(href=file.canonical)
				if useNumbering
					| #{index+1}. 
				!= file.title
		.series-article-excerpt!= file.excerpt
			|  
			a(href=file.canonical) Read More