if seriesSlug
		!= seriesSet[seriesSlug].file.contents
		if useTOC
			include ./table-of-contents-series
		each child,index in seriesSet[seriesSlug].children
			case child.type
				when 'series'
					section.series(id='series-'+child.file.slug)
						h2.series-title!= child.file.title
						.series-description
							!= child.file.contents
						each seriesChild,index in child.children
							case seriesChild.type
								when 'article'
									-var file = seriesChild.file
									include ./series-article
								when 'page'
									-var file = seriesChild.file
									include ./series-article
								when 'organisation'
									-var file = seriesChild.file
									include ./series-organisation
				when 'article'
					-var file = child.file
					include ./series-article
				when 'page'
					-var file = child.file
					include ./series-article
				when 'organisation'
					-var file = child.file
					include ./series-organisation
else 
	// A series was called via a shortcode, but required var seriesSlug was not set