.footnotes {
	font-size: 16px;
	line-height:1.3em;
	.footnote-item {
		$padding: 5px;
		.highlighted {
			background-color: $site-secondary;
			padding: $padding;
			margin-left: $padding*-1;
		}
		a {
	    overflow-wrap: break-word;
	    word-wrap: break-word;
	    word-break: break-all;
	    word-break: break-word;
		}
	}
}
.footnote-ref {
	&.highlighted {
		background-color: $site-secondary;
    	padding: 0 5px;
    	font-weight: $font-weight-bold;
	}
}
