.social-icons {
	
}


#footer {
	.social-icons {
		margin: $grid-gutter-width 0;
	}
	.social-icons-header,a {
		color: #FFF;
	}
	.social-icons-header {
		text-transform: uppercase;
		font-weight: 700;
		margin:0;
	}
	.social-icons-list {
		@extend .list-inline;
		li {
			font-size: 40px;
		}
	}
}