#content-wrapper {
	padding-top: $navbar-height + $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
	/*@media(min-width:$screen-md){
		padding-top: 119px + $grid-gutter-width*2;
	}
	@media(min-width:$screen-lg){
		padding-top: 128px + $grid-gutter-width*2;
	} */
	background:#FFF;
	@media(min-width: $screen-md){
		padding-top: $navbar-height-large + $grid-gutter-width;
	}
}