$font-size: 14px;
$link-color: #AAA;
$link-color-hover: #FFF;
$heading-font-color: #CCC;

footer#footer {
	font-family: $font-family-sans-serif;
	color:#FFF;
	background-color: $site-lolight;
	.footer-left, .footer-right {
		padding-top: $grid-gutter-width*2;
		padding-bottom: $grid-gutter-width*2;
	}
	.footer-left{
		background-color: $site-primary;
		font-size:12px;
		color: #CCC;
	}
	.footer-right {
		background-color: $site-lolight;
	}
}

ul.footer-nav{
	&>li>a{
		color: #FFF;
	}
}