$font-size: 14px;
$link-color: #AAA;
$link-color-hover: #FFF;
$heading-font-color: #CCC;

footer#footer {
	@media(max-width:$screen-sm-max){
		width:100%;
	}
	font-family: $font-family-sans-serif;
	color:#FFF;
	background-color: $site-lolight;
	.footer-left, .footer-right {
		padding-top: $grid-gutter-width;
		padding-bottom: $grid-gutter-width;
		@media(min-width:$screen-md){

			padding-top: $grid-gutter-width*2;
			padding-bottom: $grid-gutter-width*2;
		}
	}
	.footer-left{
		background-color: $site-primary;
		font-size:12px;
		color: #CCC;
	}
	.footer-right {
		@media(min-width:$screen-md){
			float: right !important;
		}
		background-color: $site-lolight;
	}
}

.footer-nav{
	&>li>a{
		color: #FFF;
		&:hover, &:focus {
			text-decoration: underline;
			background-color: transparent;
		}
	}
	.nav-title {
		padding: 10px 15px;
		font-weight: 700;
	}
}
.footer-nav-main {
	font-weight: 700;
}