$font-size: 14px;
$link-color: #AAA;
$link-color-hover: #FFF;
$heading-font-color: #CCC;

.footer {
	padding: $grid-gutter-width 0;
	@media(max-width:$screen-sm-max){
		width:100%;
	}
	font-size: 14px;
}
.footer-legal {
	@media(min-width:$screen-md){
		margin-top: 25px;
	}
}

.footer {
	.newsletter-signup-small-form {
		input, .btn{
			border-color: #555;
			color: #555;
		}
		input {
			background-color: $site-muted;
		}
		.btn {
			background-color: darken($site-muted,5%);
		}
	}
}