#header {
	// margin-top:$grid-gutter-width;
}
.page-title {
	color: #333;
	margin-top:0;
	margin-bottom:33px;
}
.breadcrumb {
	@media(max-width:$screen-xs-max){
		display: none;
	}
	&>li{
		&+li:before{
			content: "\f178";
			font-family: 'icons'
		}
	}
}