// #menu-main {
// 	&:hover {
// 		background-color: $site-primary !important;
// 	}
// 	& > .container {
// 		@media(min-width: $screen-md ){
// 			width: auto;
// 		}
// 		@media(min-width: $screen-lg ){
// 			width: $container-lg;
// 		}
// 	}
// }
#navbar-main{
	@media(max-width:$screen-sm-max){
		width:100%;
	}
	.navbar-collapse {
		padding-left:0;
		padding-right:0;
	}
}
.navbar {
	transition: opacity .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	background-color: transparent;
}
.navbar-inner {
	box-shadow: 0 9px 15px -8px $site-darker;
	background-color: #FFF;
	margin: auto;
	@include clearfix();
}
.navbar-main-menu{
	ul.navbar-nav {

		@media(max-width:$screen-sm-max){
			text-align: center;
			padding: 0 $grid-gutter-width/2;
		}	
		@media(min-width:$screen-md){	
			display:flex;
			padding: 0;
			justify-content: space-between;
			align-items: center;
			float: none;
			height: $navbar-height;
		}
	}
	li.nav{
		padding:8px;
		@media(min-width:$screen-md){	
			padding:0;
		}
		&>a{
			font-family: $font-family-sans-serif;
			font-weight:700;
			color: #333;
			padding: 8px;
			@media(min-width:$screen-md){	
				padding:10px 0;
			}
			&:focus, &:hover{
				color: $site-primary;
			}
		}
	}
}
.navbar-toggle {
	padding: 0;
}
.navbar-header-brand-logo-wrapper {
	// padding: 0 0 0 15px;
}
.navbar-header-brand-logo-text-wrapper {
	@media(max-width:$screen-sm-max){
		text-align: center;
	}
}
.navbar-header-brand-logo-wrapper,.navbar-header-brand-logo-text-wrapper {
	height: $navbar-height;
	display:flex;
	justify-content: space-between;
	align-items: center;

}
.navbar-header-brand-logo {
	max-height: $navbar-height *2/3;
	/* @media(min-width:$screen-md){
		max-height: 84px;
	    margin-top: 26px;
	    // max-width: none;
	}
	@media(min-width:$screen-lg){
		max-height: 104px;
	    margin-top: 53px;
	    // max-width: none;
	} */
}
.navbar-header-brand-logo-text {
	width: 90%;
	@media(min-width: $screen-lg){
		width: 80%;
	}
	max-height: $navbar-height *2/3;
}

$navbar-font-size-md: 11px;
$navbar-font-size-lg: 14px;
.navbar-header-brand-description {
	font-weight: 700;
	@media(max-width: $screen-sm-max ){
		display: none;
	}
}

.navbar-header-brand-description,#navbar-main .newsletter-signup-small-call-to-action {
	font-size: $navbar-font-size-md;
	margin:0;
	@media(min-width: $screen-md){
		font-size: $navbar-font-size-md;
	}
	@media(min-width: $screen-lg){
		font-size: $navbar-font-size-lg;
	}
}
