
.series-pagination {
	font-size: $font-size-small;
	color: #999;
	border: 1px solid #999;
	padding: $grid-gutter-width/2;
	margin: $grid-gutter-width/2 0;
}
.series-pagination-links {
	list-style-type:none;
	margin:0;
	padding:0;
}