	h1 {

	}

@media(min-width: $screen-md){
	.home-section-hero {
		p.first-paragraph {
			width: 70%;
			font-size: 20px;
		}
	}
	.home-section-hero-featured-icon {
		float: right;
		font-size: 300px;
		line-height: 1em;
		margin-top: -240px;
		&:before {
			margin: 0 !important;
		}
	}
}

.home-content {
	@media(min-width:$screen-md){
		// margin-top: $grid-gutter-width*2;
	}
}
.home-aside {
	p {
		margin:0;
		font-style: italic;
	}
}
.home-aside-heading {
	margin: 0;
	@media(min-width:$screen-md){
		font-size: 16px;
	}
}
.home-section {
	margin-bottom: $grid-gutter-width*2;
}

.home-section-quotations {
	&>.row {
		// background-color: $site-primary;
		// color: #FFF;
		padding: $grid-gutter-width*2 0;
		border: 2px solid $site-lolight;
		border-left: none;
		border-right: none;
	}
}

.home-section-cause-prioritisation-tool {
	img {
		border: 2px solid #333;
	}
}

.home-section-newsletter-signup > .row {
	padding-top: $grid-gutter-width * 2;
	padding-bottom: $grid-gutter-width * 3;
	background-color: $site-lolight;
	color: #FFF;
	font-family: $font-family-sans-serif;
}

.featured-idea-article-title,.home-featured-ea-article-title {
	font-size: 18px;
	height: 42px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.home-featured-ea-article {

}