


.page-title-home {
	font-size: $font-size-h1;
	line-height: $font-size-h1 + $grid-gutter-width/2;
	margin: 0 0 $grid-gutter-width/2;
}

.home-section-title {
	border-bottom: 2px solid $site-primary;
	padding-bottom: 7px;
}

@media(max-width: $screen-sm-max){
	.home-section-hero {
		text-align: center;
	}
}
.home-section-read-more-link {
	font-weight: $font-weight-bold;
}

.home-content {
	@media(min-width:$screen-md){
		// margin-top: $grid-gutter-width*2;
	}
}
.home-aside {
	p {
		margin:0;
		font-style: italic;
	}
}
.home-aside-heading {
	margin: 0;
	@media(min-width:$screen-md){
		font-size: 16px;
	}
}
.home-section {
	margin-bottom: $grid-gutter-width*2;
}

.home-section-quotations {
	&>.row {
		padding: $grid-gutter-width*2 0 0;
	}
	.quotation {
		margin-bottom: $grid-gutter-width;
	}
	.quotation-author-image {
		float: right;
		margin-right: 0;
		margin-left: 15px;
	}
	.quotation-text {
		&:before {
			@media(min-width:$screen-md){
				left: -21px;
				top: 23px;
				font-size: 40px;
			}
		}
		padding-left: 0;
		min-height: 130px;

	}
	.quotation-source {
		@media(min-width:$screen-md){
			margin-left: 0;
			text-align: right;
		}
	}
}

.home-section-cause-prioritisation-tool {
	text-align:center;
	h2 {
		margin-top: 0;
	}
	img {
		border: 1px solid lighten($site-primary, 5%);
		@media(max-width: $screen-sm-max){
			margin-bottom: 15px;
		}
	}
	&>.row{
		background-color: $site-primary;
		color: #FFF;
		padding: $grid-gutter-width 0;
		display: flex;
		align-items: center;
	}
	.btn {
		border: none;
		@media(max-width: $screen-sm-max){
			&.visible-xs, &.visible-sm {
				display: inline-block !important;
			}
		}
		@media(min-width: $screen-md){
			&.visible-md, &.visible-lg {
				display: inline-block !important;
			}
		}
	}
}



.home-section-newsletter-signup {
	input {
		border-width: 2px;
		border-color: $site-primary;
	}

}

.featured-idea-article-title,.home-featured-ea-article-title {
	font-size: 18px;
	height: 42px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.home-section-effective-altruist-profiles-profile {
	line-height: 1em;
}
.home-section-effective-altruist-profiles-profile-image {
	margin-bottom: 5px;
}

.home {
	.heading-permalink {
		display: none !important;
	}
}
.home-section-read-more-link {
	font-weight: $font-weight-normal;
	font-size: $font-size-base;
    float: right;
    line-height: $font-size-h1;
}
