.series-contents {
	list-style: none;
	margin: $grid-gutter-width/2 0;
	padding: 0;
}
.series-contents-item {
	// display: inline-block;
}
.series-contents-toggle {
	color: #999;
	text-decoration: underline;
	.show-contents {
		display: none;
	}
	.hide-contents {
		display: inline;
	}
	&.collapsed {
		.show-contents {
			display: inline;
		}
		.hide-contents {
			display: none;
		}
	}
}
.series-pagination {
	font-size: $font-size-small;
	color: #333;
	background-color: #eee;
	padding: $grid-gutter-width/2;
	margin: $grid-gutter-width/2 0;
	font-family: $font-family-sans-serif;
}
.series-pagination-series-title-wrapper {
	text-align: center;
}
.series-pagination-series-title {
	margin: 0;
}
.series-pagination-links {
	list-style-type:none;
	margin:0;
	padding:0;
	@include clearfix();
}
.series-pagination-previous, .series-pagination-next {
	text-align: center;
    margin-top: $grid-gutter-width/2;
	@media(min-width: $screen-sm){
		margin-top: 0;
	    width: 50%;
	}
}
.series-pagination-previous {
	@media(min-width: $screen-sm){
	    float: left;
		text-align: left;
	}
}
.series-pagination-next {
	@media(min-width: $screen-sm){
	    float: right;
		text-align: right;
	}
}