#content>.first-paragraph {
	// font-family: $font-family-sans-serif !important;
	font-size: $first-paragraph-small-size;
	line-height: floor(($first-paragraph-small-size*$line-height-base));
	@media(min-width:$screen-sm){
		font-size: $first-paragraph-large-size;
		line-height: floor(($first-paragraph-large-size*$line-height-base));
	}
	&::first-letter {
		font-size: floor(($first-paragraph-small-size*$line-height-base*2));
		line-height: floor(($first-paragraph-small-size*$line-height-base*2))-1;
	    float: left;
	    padding-right: 0.05em;
	    color: $site-lolight;
		@media(min-width:$screen-sm){
			font-size: floor(($first-paragraph-large-size*$line-height-base*2));
			line-height: floor(($first-paragraph-large-size*$line-height-base*2))-1;
		}
	}
}