.person-page-title {
	margin-bottom: 0;
	&.no-job-title {
		margin-bottom: 16.5px;
	}
}
.person-job-title {
	font-family: $font-family-sans-serif;
	color: #999;
	font-size: 24px;
}

.person-organisations {
	$border: 1px solid #DDD;
	border-top: $border;
	margin-top: $grid-gutter-width;
	padding-top: $grid-gutter-width;
	@media(max-width: $screen-xs-max) {
		border-bottom: $border;
		margin-bottom: $grid-gutter-width;
	}
}
.person-organisations-header {
	color: #DDD;
	margin-top:0;
	font-size: 20px;
}
.person-organisation {
	display: flex;
	align-items: center;
}
.person-organisation-title {
	margin-top: 0;
    font-weight: $font-weight-normal;
}
.person-organisation-logo {
	margin-bottom: $grid-gutter-width/2;
}