.series {
	// border
}
.series-child-series-description {

}
.series-article {
	border-bottom: 1px dashed #CCC;
}
.series-article-title-numbered{
	$indent:24px;
	padding-left: $indent ;
	text-indent: -$indent;
}