.series {
	// border
}
.series-child-series-description {

}
.series-item {
	margin-bottom: $grid-gutter-width;
}
.series-item-title {
	font-size: 18px;
	.heading-permalink {
		display: none;
	}
	&:hover {
		.heading-permalink {
			opacity: 0;
		}
	}
}
.series-item-title-numbered {
	$indent:16px;
	@media(max-width: $screen-sm-max){
		padding-left: $indent ;
	}
	text-indent: -$indent;
	&>* {
		text-indent: 0;
	}
}


.series-organisation>.row {
    padding-bottom: $grid-gutter-width/2;
    margin-bottom: $grid-gutter-width/2;
    border-bottom: 1px dashed #DDD;
    @media(min-width: $screen-md){
    	display: flex;
	    align-items: center;
	}
}
.series-organisation-title {
    margin-top:0;
}

.series-organisation-logo img {
    margin: 0 auto;
}
.series-link {
	&>.series-item-title {
		margin-bottom: 0;
	}
}
.series-link-domain {
	color: #DDD;
	margin-bottom: 0;
}