mixin jobTitle(jobTitle, organisations)
	if jobTitle
		!= jobTitle
		if organisations && organisations.length
			- var organisation = organisations[0]
			if organization
				| ,
				a(href=organisation.fields.website target="_blank")!= organisation.fields.title
