- var seriesSlug = slug
if seriesSet[seriesSlug]
	h3.organisations-list-title!= helpers.typogr.typogrify(seriesSet[seriesSlug].file.title)
	ul.organisations-list
		each child in seriesSet[seriesSlug].children
			li.organisations-list-item
				p #[a(href=child.file.website target="_blank")!= child.file.title]:
					!= helpers.typogr.typogrify(child.file.description)
