- var seriesSlug = slug;
- var useNumbering = numbering===false ? false : true;
- var useTOC = toc===true ? true : false;
- var tocDepth = tocdepth;
- var useReadMore = readmore===false ? false : true;
include ../components/series