- var seriesSlug = slug;
- var useNumbering = numbering===true ? true : false;
- var useTOC = toc===true ? true : false;
- var tocDepth = tocdepth || 1;
- var useReadMore = readmore===false ? false : true;
include ../components/series